* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.u-display-none {
  display: none !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.u-ml-4 {
  margin-left: 4px;
}

body {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  background-color: #b1b1b1;
  background-color: #fff;
}

.modal-start {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  color: white;
  overflow: hidden;
}

.modal-browser {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000, $alpha: 0.2);
  color: white;
  overflow: hidden;
}

.modal-start-text {
  margin-left: 20px;
}

.modal-browser-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 200px;
  flex-grow: 1;
  background-color: #222;
  border-radius: 20px;
}

.u-df {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-grey {
  color: #bbb;
}

.u-italic {
  font-style: italic;
}

.container {
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

header {
  min-height: 100px;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headband {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #353535;
  padding: 5px 20px;
  color: white;

  // Padding on children exept last
  & > *:not(:last-child) {
    margin-right: 16px;
  }
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  margin-bottom: 20px;
  display: none;
}

.music-header-container,
.music-header-container-empty {
  display: flex;
  background-color: #5d5d5d;
  padding-top: 20px;
  color: white;
  max-width: 45rem;
  padding: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-grow: 1;
}

.music-header-container-empty {
  display: block;
  font-size: 18px;
}

.lyrics {
  font-size: 17px;
  line-height: 30px;
}

.lyrics-in-brackets {
  color: #666;
}

.music-image {
  width: 200px;
  height: 200px;
  opacity: 1;
  margin-right: 20px;
}

.music-album,
.music-featuring,
.music-artist {
  display: inline;
  //font-weight: bold;
  font-style: normal;
  font-size: large;
  color: white;
}

.log-request {
  text-align: center;
  margin-bottom: 20px;
  color: #1db954;
}

.logged-without-music {
  text-align: center;
}

.no-lyrics-found-text {
  font-size: 19px;
  text-align: center;
}
// Scrollbar
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #bcbdbf;
  width: 17px;
  background-clip: content-box; // this is important
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #797b80;
  width: 17px;
}

//////////////////// loader

.square {
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid black;
}

.loader {
  position: fixed;
  .square {
    animation: loadingG 1.2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
  right: 70px;
}

@keyframes loadingG {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(40px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.slide-out-bck-center {
  -webkit-animation: slide-out-bck-center 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both 1s;
  animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both 1s;
}

@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

//////////////////// Imported

// Button -imported

.button-imported-log {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  transform: scale(0.8);
  font-weight: 100;
  background-color: #1db954;
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }

  &:hover {
    text-decoration: none;

    font-weight: 900;
    letter-spacing: 1px;

    rect {
      stroke-width: 5;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.logout-button {
  background-color: transparent;
}

/////////////////// Animations

.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.wobble-hor-bottom {
  animation: wobble-hor-bottom 0.5s both;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-7px) rotate(-3deg);
    transform: translateX(-7px) rotate(-3deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(3deg);
    transform: translateX(3px) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  60% {
    -webkit-transform: translateX(2px) rotate(2deg);
    transform: translateX(2px) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-1px) rotate(-1.2deg);
    transform: translateX(-1px) rotate(-1.2deg);
  }
}

.text-shadow-pop-bl {
  -webkit-animation: text-shadow-pop-bl 0.6s both;
  animation: text-shadow-pop-bl 0.6s both 0.5s;
}

@-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555,
      -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555,
      -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}

@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555,
      -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555,
      -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}
